.suggestion-list {
  list-style-type: none;
  position: absolute;
  top: 20%;
  left: 75%;
  padding: 0;
  margin: 0;
}

.suggestion-list li {
  border: 1px solid #ddd;
  width: 260px;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  cursor: pointer;
}

.suggestion-list li:not(.header) {
  background-color: #eee;
}
