.app {
  text-align: center;
}
/* p {
  position: absolute;
  top: 10%;
  left: 35%;
} */
.youtube-logo {
  margin-top: 10px;
  max-height: 70px;
  max-width: 70px;
  margin-left: 150px;
}
.heading {
  margin-top: 10px;
  max-height: 70px;
  max-width: 70px;
  margin-left: 150px;
}
.search-item {
  /* Remove default list styling */
  list-style-type: none;
  position: absolute;
  top: 13%;
  left: 35%;
  padding: 0;
  margin: 0;
}

.search-item li {
  border: 1px solid #ddd; /* Add a border to all links */
  width: 260px;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  cursor: pointer;
}

.search-item li:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
